@import url("color.css");
.leader-list {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.leaderboard {
    background-color: var(--normal-color);
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    box-sizing: border-box;
}
.rank-item {
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    border-radius: 20px;
}

.pagination { 
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    left: 50%; 
    transform: translateX(-50%); /* 가로 가운데 정렬 */
    margin-top: 40px; /* 변경된 간격 */
    margin-bottom: 5px; /* 추가된 간격 */
}

.pagination li {
    padding: 10px 20px;
  /* 고정 위치 설정 */
    left: 50%; /* 가운데 정렬을 위해 가로 가운데 위치로 이동 */
    transform: translateX(-50%); /* 가로 가운데 정렬 */
}
.pagination li a, .pagination li span {
   /* 고정 위치 설정 */
    padding: 10px 20px;
    left: 50%; /* 가운데 정렬을 위해 가로 가운데 위치로 이동 */
    transform: translateX(-50%); /* 가로 가운데 정렬 */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    
}
.pagination li.active span {

     /* 고정 위치 설정 */
    left: 50%; /* 가운데 정렬을 위해 가로 가운데 위치로 이동 */
    transform: translateX(-50%); /* 가로 가운데 정렬 */
    background-color: var(--accent-color);
    color: #fff;
    border-color: var(--accent-color);
    padding: 10px 20px;
    
}
.pagination li a:hover { /* 고정 위치 설정 */
    left: 50%; /* 가운데 정렬을 위해 가로 가운데 위치로 이동 */
    transform: translateX(-50%); /* 가로 가운데 정렬 */
    background-color: #f0f0f0;
    padding: 10px 20px;
}
