@import url("color.css");
.leader-list {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.leaderboard {
    background-color: var(--normal-color);
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}
.rank-item {
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}