@import url("color.css");

.til_card {
    perspective: 1000px;
}

.til_card>.front,
.til_card>.back {
    width: 300px;
    height: 350px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
    transition: transform 0.5s, opacity 0.5s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    text-align: center;
    align-content: center;
}

.til_card>.front {
    background: var(--normal-color);
}

.til_card>.back {
    background: var(--normal-color);
    transform: rotateY(180deg);
}

.til_card>.back>a {
    font-size: 20px;
    color: var(--accent-color);
}

.til_card>.back>a:hover {
    border-radius: 5px;
    color: var(--normal-color);
    background-color: var(--accent-color);
}

.til_card:hover>.front {
    transform: rotateY(-180deg);
}

.til_card:hover>.back {
    transform: rotateY(0deg);
}

.card {
    background-color: var(--normal-color);
    color: var(--accent-color);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--accent-color);
}

.card h3 {
    margin-top: 0;
}

.card img {
    max-width: 100%;
    margin-bottom: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}