@import url("color.css");

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
}

body {
    font-family: 'KCC-Hanbit';
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--accent-color);
    color: var(--normal-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: var(--accent-color);
    color: var(--normal-color);
    text-align: left;
    padding: 10px 20px;

    padding-top: 150px;
    margin-top: 160px;
    position: relative;
    transform: translatY(-100%);

    bottom: 0;
    width: 100%;
}

footer>a>img {
    width: 15px;
    height: 15px;
}

footer>a {
    width: 80px;
    text-align: center;
}

/* nav바 스타일 입니다 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar>div>ul {
    display: flex;
    justify-content: space-between;
}

li {
    position: relative;
    list-style-type: none;
    text-align: center;
    width: 100px;
}

a {
    display: block;
    padding: 5px;
    color: var(--normal-color);
    text-decoration: none;
}

/* 카테고리 메뉴 호버 설정 */

.navbar>div>ul>li>a:hover {
    color: var(--middle-color);
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 100px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

li:hover .dropdown {
    display: block;
}

.dropdown li a {
    padding: 10px;
    color: var(--normal-color);
    background-color: var(--accent-color);
    border-bottom: 1px solid var(--normal-color);
}

.dropdown li:last-child a {
    border-bottom: none;
}

.dropdown li a:hover {
    background-color: var(--middle-color);
}