body{
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로 방향으로 쌓음 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: start; /* 세로 방향으로 위에서부터 시작 */
    min-height: 100vh; /* 최소 높이를 뷰포트의 100%로 설정 */
    margin: 0; /* 기본 마진 제거 */
}
.form_container{
    background-color: white;
    width: 80%;
    height: 80vh;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}