<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/leaderboard.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list['user_id']">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <!-- {% if 'meminfo' in data['session'] %}
            <li><a href="/logout">로그아웃</a></li>
            {% else %}
            <li><a href="/login">로그인</a></li>
            {% endif %} -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------- -->
  <div class="leader-list">
    <h2>Leaderboard</h2>
    <div class="leaderboard">
      {% for message in data %}
      <div class="rank-item">
        {{message}}
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------- -->

  <footer>
    Team CSI

    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">
      <img src="{{ url_for('static', filename='image/github-logo.png') }}"> Github
    </a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ url_for('static', filename='image/notion-logo.png') }}"> Notion
    </a>
  </footer>
</body>

</html>