<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <script src="../static/sha256.js"></script>
  {% if error_message %}
      <script>
          alert('{{ error_message }}');
      </script>
  {% endif %}
  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list['user_id']">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <li><a href="/logout">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
<div id=center>
    <div class="intro_title">
      <span class="introText">TIL 게시판</span></div>
    <div class="intro_title"><span class="introText">Log In</span></div>

    <div class="loginForm">
      <form action="/login" method="POST" id="myForm">
        <div class="loginInput">
          <input type="text" name="username" id="username" class="loginInput" placeholder="username">
        </div>
        <div class="loginInput">
          <input type="password" name="password" id="password" class="loginInput" placeholder="password">
        </div>
        <div class="loginInput">
          <button onclick="convert_pw()" class="btn"><span class="btnText">Sign In</span></button>
        </div>
      </form>
      <hr>
      <div class="signUp">
        <form action="/register" method="GET">
          <button type="submit" class="btnSignup"><span class="btnSignupText">Want to join us? Sign up</span></button>
        </form>
      </div>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------- -->

  <footer>
    Team CSI
    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">github</a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank">notion</a>
  </footer>

</body>
</html>