<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/post.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            {% if 'meminfo' in data['session'] %}
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list/1&{{ data['session']['meminfo']['id'] }}">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <li><a href="/logout">로그아웃</a></li>
            {% else %}
            <li><a href="/login">로그인</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="container">
    <div class="post-container">
      <div class="post-title">{{ data['post'][0]['title'] }}</div>
      <div class="post-meta">
        Posted by {{ data['post'][0]['user_id'] }} on {{ data['post'][0]['reg_date'] }}
      </div>
      <div class="post-contents", id="post_contents">
        {{ data['post'][0]['contents'] | safe}}
      </div>
      <div class="like-count">
        <div>
          좋아요 {{ data['post'][0]['like_cnt'] }} 개
        </div>
        <div class="btn-container">
          {% if 'meminfo' in data['session'] %}
            <button onclick="like_btn_push()" type="submit" class="btn" id="like_btn">좋아요</button>
            {% if data['session']['meminfo']['id'] == data['post'][0]['user_id'] %}
              <button onclick="mod_btn_push()" type="submit" class="btn" id="mod_btn">수정</button>
              <button onclick="del_btn_push()" type="submit" class="btn" id="del_btn">삭제</button>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="comments">
        {% if data['comments'][0] == None %}
        댓글이 없습니다.
        {% else %}
        {{ data['comments'][0]['user_id'] }} - {{ data['comments'][0]['contents'] }}
        {% endif %}
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <footer>
    Team CSI

    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">
      <img src="{{ url_for('static', filename='image/github-logo.png') }}"> Github
    </a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ url_for('static', filename='image/notion-logo.png') }}"> Notion
    </a>
  </footer>
  <script>
    const url = window.location.href;
    const post_id = url.split('/').pop();
    const not_like = getComputedStyle(document.documentElement).getPropertyValue('--middle-color').trim();
    const like = getComputedStyle(document.documentElement).getPropertyValue('--accent-color').trim();
    const button = document.getElementById('like_btn');
    
    async function check_like(post_id) {
      const response = await fetch('/like_check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ post_id }),
      });

      if (response.ok && response.headers.get('Content-Type').includes('application/json')) {
        const result = await response.json();
        return result.isLiked;
      } else {
        // 적절한 에러 처리 또는 기본값 반환
        console.error('Non-JSON response received');
        return false;
      }
    }

    async function renewal_like_btn_color() {
      const isLiked = await check_like(post_id);
      if (isLiked) {
        button.style.backgroundColor = like;
      } else {
        button.style.backgroundColor = not_like;
      }
    }

    renewal_like_btn_color();

    async function like_btn_push() {
      const isLiked = await check_like(post_id);
      await fetch('/push_like', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ post_id, isLiked }),
      });

      await renewal_like_btn_color();
    }
  </script>
</body>

</html>