<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/post.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            {% if 'meminfo' in data['session'] %}
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list/1&{{ data['session']['meminfo']['name'] }}">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <li><a href="/logout">로그아웃</a></li>
            {% else %}
            <li><a href="/login">로그인</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="container">
    <div class="post-container">
      <div class="post-title">{{ data['post'][0]['a.title'] }}</div>
      <div class="post-meta">
        Posted by {{ data['post'][0]['b.username'] }} on {{ data['post'][0]['a.reg_date'] }}
      </div>
      <div class="post-contents", id="post_contents">
        {{ data['post'][0]['a.contents'] | safe}}
      </div>
      <div class="like-count">
        <div id="like_cnt">
          좋아요 {{ data['post'][0]['a.like_cnt'] }} 개
        </div>
        <div class="btn-container">
          {% if 'meminfo' in data['session'] %}
            <button onclick="like_btn_push()" type="submit" class="btn" id="like_btn">좋아요</button>
            {% if data['session']['meminfo']['id'] == data['post'][0]['a.user_id'] %}
              <button onclick="mod_btn_push()" type="submit" class="btn" id="mod_btn">수정</button>
              <button onclick="del_btn_push()" type="submit" class="btn" id="del_btn">삭제</button>
            {% endif %}
          {% endif %}
        </div>
      </div>

      {% if 'meminfo' in data['session'] %}
      <form action="../comment_post/{{ data['post'][0]['a.id'] }}" method="POST" class="comment-box">
        <textarea class="comment-input" placeholder="댓글을 입력하세요." name="comment_content"></textarea>
        <button class="comment-submit">댓글 달기</button>
      </form>
      {% endif %}


      <div class="comments_box">
        {% if data['comments'][0] == None %}
        <div class="comments">댓글이 없습니다.</div>
        {% else %}
        {% for comment in data['comments'] %}
        <div class="comments_line">
          <div class="comments">
            <p id="comment-text-{{ loop.index }}" username="{{ comment['b.username'] }}">{{ comment['b.username'] }} - {{ comment['a.contents'] }}</p>
            <textarea type="text" class="editField" id="edit-field-{{ loop.index }}" style="display: none;"></textarea>
          </div>
          
          {% if 'meminfo' in data['session'] and data['session']['meminfo']['id'] == comment['a.user_id'] %}
              <form action="" method="POST" class="del_btn_form" id="conf-btn-{{ loop.index }}" style="display: none;"> 
                <!-- 이제 이부분 fetch로 보내서 수정하면 될듯? -->
                <button type="button" class="mod_conf_btn" id="conf-btn-{{ loop.index }}" comment_id = "{{ comment['a.id'] }}">확인</button>
              </form>
              <form action="" method="POST" class="del_btn_form">
                <button type="button" class="mod_btn" id="mod-btn-{{ loop.index }}">수정</button>
              </form>
              <form action="../comment_delete/{{ comment['a.id'] }}&{{ data['post'][0]['a.id'] }}" method="POST" class="del_btn_form">
                <button class="btn">삭제</button>
              </form>
          {% endif %}
          
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <footer>
    Team CSI

    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">
      <img src="{{ url_for('static', filename='image/github-logo.png') }}"> Github
    </a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ url_for('static', filename='image/notion-logo.png') }}"> Notion
    </a>
  </footer>
  <script>
    const url = window.location.href;
    const post_id = url.split('/').pop();
    const not_like = getComputedStyle(document.documentElement).getPropertyValue('--middle-color').trim();
    const like = getComputedStyle(document.documentElement).getPropertyValue('--accent-color').trim();
    const button = document.getElementById('like_btn');
    const like_box = document.getElementById('like_cnt');

    async function check_like_btn() {
      const response = await fetch('/push_like', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({post_id: post_id, only_check: 1})
      });
      if (response.ok) {
          const result = await response.json();
          if (result.liked) {
            button.style.backgroundColor = like;
          } else {
            button.style.backgroundColor = not_like;
          }
      } else {
          return 0;
      }
    }
    check_like_btn()
    async function like_btn_push() {
      button.disabled = true;
      const response = await fetch('/push_like', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({post_id: post_id, only_check: 0})
      });
      if (response.ok) {
          const result = await response.json();
          if (result.liked) {
            button.style.backgroundColor = not_like;
          } else {
            button.style.backgroundColor = like;
          }
          like_box.innerHTML = "좋아요 "+result.like_cnt+" 개"
      } else {
          return 0;
      }
      setTimeout(() => {button.disabled = false;}, 500);
    }

    function mod_btn_push(){
      var targetUrl = "../mod/"+post_id.toString();
      window.location.href = targetUrl;
    }

    function del_btn_push(){
      var targetUrl = "../del/"+post_id.toString();
      window.location.href = targetUrl;
    }

    document.querySelectorAll('.mod_conf_btn').forEach(button => {
        button.addEventListener('click', function() {
            this.disabled = true;
            console.log('why')
            const commentIdx = this.getAttribute('id').split('-')[2];
            const commentId = this.getAttribute('comment_id');

            var commentText = document.getElementById("comment-text-"+commentIdx);
            var editField = document.getElementById("edit-field-"+commentIdx);
            var confField = document.getElementById("conf-btn-"+commentIdx);
            const new_content = editField.value;
            if (new_content.length == 0){
              alert("댓글을 입력해주세요");
              this.disabled = false;
              return 0;
            }
            const username = commentText.getAttribute('username')
            commentText.innerText = username+" - "+new_content; // 코멘트 업데이트
            editField.style.display = 'none';
            confField.style.display = 'none';
            commentText.style.display = 'block';

            mod_button = document.getElementById("mod-btn-"+commentIdx);

            mod_button.innerHTML = "수정"

            const response = fetch('/comment_mod', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({comment_id: commentId, content: new_content})
            });
            setTimeout(() => {this.disabled = false;}, 500);
        });
    });

    document.querySelectorAll('.mod_btn').forEach(button => {
        button.addEventListener('click', function() {
            const commentId = this.getAttribute('id').split('-')[2];
            var commentText = document.getElementById("comment-text-"+commentId);
            var editField = document.getElementById("edit-field-"+commentId);
            var confField = document.getElementById("conf-btn-"+commentId);
            if (editField.style.display === 'none') {
                this.innerHTML = "취소"
                editField.style.display = 'block';
                confField.style.display = 'block';
                editField.value = commentText.innerText.split(' - ').slice(1).join(" - "); // 텍스트 필드에 기존 코멘트를 복사
                commentText.style.display = 'none'; // 기존 텍스트 숨기기
            } else {
                this.innerHTML = "수정"
                editField.style.display = 'none';
                confField.style.display = 'none';
                commentText.style.display = 'block';
            }
        });
    });
  </script>
</body>

</html>