{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
  alert("{{ messages[-1] }}")
</script>
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/register.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="../static/register.js"></script>
  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list['user_id']">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <li><a href="/login">로그인</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <div id=center>
    <div class="intro_title">
      <span class="introText">TIL 게시판</span>
    </div>
    <div class="intro_title"><span class="introText">Sign Up</span></div>

    <div class="loginForm">
      <form action="register" method="POST" , class="register_form">
        <div class="loginInput">
          <input type="text" name="username" id="username" class="loginInput" placeholder="username">
        </div>
        <div class="loginInput">
          <input type="password" name="password" id="password" class="loginInput" placeholder="password">
        </div>
        <div class="loginInput">
          <button class="btn" type="submit"><span class="btnText">Sign Up</span></button>
        </div>
      </form>
      <hr>
      <div class="signUp">
        <form action="/login" method="GET">
          <button type="submit" class="btnSignup"><span class="btnSignupText">이미 회원이신가요? 로그인하러 가기</span></button>
        </form>
      </div>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------- -->

  <footer>
    Team CSI

    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">
      <img src="{{ url_for('static', filename='image/github-logo.png') }}"> Github
    </a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ url_for('static', filename='image/notion-logo.png') }}"> Notion
    </a>
  </footer>

</body>

</html>