<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIL_List</title>
  <link href="../static/til_list_style.css" rel = "stylesheet" type="text/css" />
</head>
  <body>
  
    <div class="navbar">
        <div>Home | TIL | Leaderboard</div>
        <div>My</div>
    </div>    
    
    <div class="search">
      <input type="text" class="til_search">
      <button type="submit">검색
      </button>
    </div>
    
    <div class ="body"></div>
    <footer>
      Team CSI
      <br>github: xxxxx
      <br>notion: xxxxx
  </footer>

  </body>

</html>