{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
  alert("{{ messages[-1] }}")
</script>
{% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIL_List</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/til_list.css" rel="stylesheet" type="text/css" />
  <link href="../static/main.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            {% if 'meminfo' in data['session'] %}
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list/1&{{ data['session']['meminfo']['name'] }}">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <li><a href="/logout">로그아웃</a></li>
            {% else %}
            <li><a href="/login">로그인</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------- -->
  <div class="search_box">
    <form id="searchForm" action="" method="GET">
      <label for="search"></label>
      <input type="text" name="condition" id="condition" placeholder="유저 이름 입력..." autofocus required />
      <button type="submit" onclick="submitForm()">검색</button>
    </form>
  </div>

  <div class="til_list">
    <div class="til_card-container">
      {% if data['til_list'][0] != None %}
        {% for til in data['til_list'] %}
        <div class="til_card">
          <div class="front">
            <!-- 앞면 내용 -->
            {% if til['a.thumbnail'] != None %}
              <img src="{{ til['a.thumbnail'] }}" class="thumbnail">
            {% else %}
            <img src="../static/image/basic_image.png" class="thumbnail">
            {% endif %}
            <h3>{{ til['a.title'][:10]+'...' if til['a.title']|length > 10 else til['a.title'] }}</h3>
          </div>
          <div class="back">
            <!-- 뒷면 내용 -->
            <p>{{ til['b.username'] }}</p>
            <p>Likes: {{ til['a.like_cnt'] }}</p>
            <p>Posted by: {{ til['b.username'] }} on {{ til['a.reg_date'] }}</p>
            <br><a href="../post/{{ til['a.id'] }}">TIL 보러가기</a>
          </div>
        </div>
        {% endfor %}
      {% else %}
      게시물이 없습니다ㅠ
      {% endif %}
    </div>


    <div class="pagination_container">

      <ul class="pagination">
        {% if data['now_page'] != 1 %}
        <li class="{{ 'disabled' if data['now_page'] == pages else '' }}">
          <a href="{{ url_for('til_list', page_num=data['now_page']-1) }}">Prev</a>
        </li>
        {% endif %}

        {% for i in range(1, data['max_page']+1) %}
        <li class="{{ 'active' if i == data['now_page'] else '' }}">
          <a href="{{ url_for('til_list', page_num=i) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if data['now_page'] != data['max_page'] %}
        <li class="{{ 'disabled' if data['now_page'] == pages else '' }}">
          <a href="{{ url_for('til_list', page_num=data['now_page']+1) }}">Next</a>
        </li>
        {% endif %}
      </ul>

    </div>

  </div>

  <!-- ---------------------------------------------------------------------------------------- -->

  <footer>
    Team CSI

    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">
      <img src="{{ url_for('static', filename='image/github-logo.png') }}"> Github
    </a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ url_for('static', filename='image/notion-logo.png') }}"> Notion
    </a>
  </footer>

  <script>
    function submitForm() {
      var conditionValue = document.getElementById('condition').value;
      var form = document.getElementById('searchForm');

      form.action = '/til_list/1&' + conditionValue.toString()

    }
  </script>
</body>

</html>