<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="../static/write.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="../static/write.js"></script>
  <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/til_list">TIL</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">My</a>
          <ul class="dropdown">
            <li><a href="/my_page">내 정보</a></li>
            <li><a href="/til_list['user_id']">내 TIL</a></li>
            <li><a href="/write">글 작성</a></li>
            <li><a href="/logout">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <form action="write" method="POST" class="form_container" >
    <input class="title_inp" name="title" id="title" type="text" placeholder="제목을 입력하세요">
    <textarea class="form-control" name="content" id="content" rows="10">{{ '' }}</textarea>
    <div class="btn_container">
      <button type="submit" class="post_btn">TIL 등록</button>
      <button class="exit_btn">나가기</button>
    </div>
  </form>
  <!-- ---------------------------------------------------------------------------------------- -->

  <footer>
    Team CSI
    <a href="https://github.com/luna-negra/csi_group_project/tree/main" target="_blank">github</a>
    <a href="https://teamsparta.notion.site/1-CSI-6f9c97ddc53348598f701eb6f7796eb3" target="_blank">notion</a>
  </footer>

  <script src="{{ url_for('static', filename='simplemde.min.js') }}"></script>
  <script>
    var mde = new SimpleMDE({ element: document.getElementById("content") });
  </script>
</body>
</html>